---
  import Layout from '../layouts/Layout.astro';
  import { Icon } from 'astro-icon';
---

<Layout title="About Me">
  <div class="flex flex-col justify-center min-h-screen">
    <div class="bg-[#e5ebe9] absolute top-10 left-10 shadow-xl rounded-xl border border-stone-400 px-4 py-2">
      <a href="/" class="flex justify-center space-x-2">
        <Icon name="bi:arrow-left-circle" class="w-5" />
        <span>Go back home</span>
      </a>
    </div>
    <div class="flex justify-center">
      <div class="md:w-8/12">
        <div class="flex flex-col space-y-4">
          <div class="bg-[#e5ebe9] border border-stone-400 rounded-xl shadow-xl p-6 space-y-6">
            <h1 class="text-4xl">About Me</h1>
            <p class="text-xl font-light">
              Firstly, hello and thank you for taking the time to go through my website!
            </p>
            <p class="text-xl font-light">
              My name is Jonathan Nguyen. I don't have an official Vietnamese name as I was born in the States.
              Although,
              I do go by 'chicken' in my family.
            </p>
          </div>
          <div class="bg-[#e5ebe9] border border-stone-400 rounded-xl shadow-xl p-6 w-fit">
            <div>
              <p class="text-2xl text-center">
                Left for Coffee<br />
                Will be Back Soon<br />
              </p>
              <p class="text-center">
                <span style="font-size:50px">&#9749</span>
                <span style="font-size:50px">&#9749</span>
                <span style="font-size:50px">&#9749</span>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
</style>