---
  import Layout from '../layouts/Layout.astro';
  import { Icon } from 'astro-icon';

  const { content } = Astro.props;
---

<Layout title={content.title}>
  <div class="flex flex-col justify-center min-h-screen py-2 px-4 space-y-2">
    <div class="w-fit bg-[#e5ebe9] shadow-xl rounded-xl border border-stone-400 px-4 py-2">
      <a href="/" class="flex justify-center space-x-2">
        <Icon name="bi:arrow-left-circle" class="w-5" />
        <span>Go back home</span>
      </a>
    </div>
    <div class="flex bg-transparent justify-center py-2 overflow-y-scroll no-scroll no-scroll-ff">
      <div class="bg-[#e5ebe9] h-fit border border-stone-400 rounded-xl shadow-xl px-10 py-6 space-y-2 prose lg:prose">
        <h1 class="text-6xl">{content.title}</h1>
        <p>
          <slot />
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  .no-scroll::-webkit-scrollbar {
    display: none;
  }

  .no-scroll-ff {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
</style>